.square{
  aspect-ratio: 1/1;
  width:15vw !important;
  display: inline-block;

}
body,html{
  overflow-x: hidden;
}

.rectangle{
  width:10vw !important;
  object-fit: cover;

}

.not-visible {
  opacity: 0;
  display: none;
  transition: opacity 1s;
}

#Hand{
}

.imageGrid{
  width:80% !important;
  margin: auto !important;
}